.pageContainer {
  padding: 120px 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.bookingInfoContainer {
  width: 100%;
  margin: 1% 0;
}
.fileeOptionsContainer {
  display: flex;
  justify-content: flex-end;
}
.successConfirmContainer,
.fialedConfirmContainer {
  width: 100%;
  padding: 1% 2%;
  margin: 5% 0;
}
.successConfirmContainer {
  color: #11441a;
  background-color: #d1e2d4;
  border: 1px solid #1c5426;
}
.fialedConfirmContainer {
  color: rgb(101, 20, 20);
  background-color: #ebd7d7;
  border: 1px solid rgb(159, 30, 30);
}
.paymentInfo {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 2px 0;
  font-size: 14px;
  justify-content: space-between;
  border: 1px solid;
}
.paymentInfo > p {
  margin-left: 5px;
}
.paymentInfo p .icon {
  margin-right: 10px;
}
.confirmDate {
  text-align: right;
}
.bookedRoomsTable {
  text-align: center;
  width: 60%;
}
.boldTableCell {
  font-weight: bold !important;
}
.confirmationInfo {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .paymentInfo {
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .paymentInfo > * {
    margin: 6px 0;
    width: 49%;
  }
  .paymentInfo p {
    display: flex;
    align-items: center;
  }
  .paymentInfo .icon {
    margin-right: 10px;
  }
}
