.container {
  margin: 10px 0;
}
h2 {
  margin-left: 10px;
}
.itemCard {
  width: 90%;
  border: 1px solid var(--mui-palette-secondary-dark);
  box-shadow: 0 0 15px 0px var(--mui-palette-secondary-dark);
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 2px;
}

.roomImage {
  width: 100%;
  aspect-ratio: 16 / 15;
  border-radius: 5px;
  object-fit: cover;
}
.cardInfo {
  padding: 0 8px 4px 8px;
  margin: 0;
}
.cardInfo > * {
  margin-top: 3px;
  margin-bottom: 3px;
}
.discountPercentage {
  position: absolute;
  top: 3px;
  right: 0px;
  color: var(--mui-palette-secondary-dark);
  background-color: var(--mui-palette-primary-dark);
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.priceInfo {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.priceInfo > * {
  margin-right: 15px;
}
