.bookedRoomsContainer {
  width: 100%;
}
.itemsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 3%;
  gap: 5px;
  flex-grow: 1;
}
.roomContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 15px;
  width: 48%;
  border: 1px solid var(--mui-palette-secondary-dark);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px var(--mui-palette-secondary-dark);
  cursor: pointer;
  flex-grow: 1;
}
.roomImageContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  margin-right: 4%;
  padding: 0;
}
.roomImage {
  width: 100%;
  height: 100%;
  max-height: 210px;
  aspect-ratio: 16 / 14;
  border-radius: 5px;
  object-fit: cover;
  margin: 0;
}
.roomPrice {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--mui-palette-secondary-main) !important;
  width: 45px;
  text-align: center;
}
.roomInfoContainer {
  flex-grow: 1;
  padding: 2% 0;
}

.roomNumber,
.roomType,
.roomPrice,
.hotelName,
.capacity {
  margin: 0;
  padding: 0;
}
.roomType,
.roomPrice,
.hotelName,
.capacity,
.locationIcon {
  color: #7f7f7f;
}
.capacityContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.smallButtonContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.iconButton {
  padding: 10px;
  font-size: 16px;
  width: 50px;
}
.totalCostContainer {
  width: fit-content;
  padding: 1%;
  margin-left: auto;
  border: 1px solid var(--mui-palette-secondary-dark);
  box-shadow: 0 0 15px 0px var(--mui-palette-secondary-dark);
  border-radius: 5px;
  font-weight: bold;
}
@media (max-width: 850px) {
  .itemsContainer {
    flex-direction: column;
  }
  .roomContainer {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .roomImage {
    width: 40%;
  }
}
