.itemCard {
  width: 90%;
  border: 1px solid var(--mui-palette-secondary-dark);
  box-shadow: 0 0 15px 0px var(--mui-palette-secondary-dark);
  border-radius: 5px;
  position: relative;
  margin: 5px auto;
  padding-bottom: 2px;
  cursor: pointer;
}

.itemCard:hover {
  box-shadow: 0 3px 15px -5px var(--mui-palette-primary-light) !important;
}
.image {
  width: 100%;
  aspect-ratio: 16 / 15;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.cardInfo {
  padding: 0 8px 4px 8px;
  margin: 0;
}
.cardInfo > * {
  margin-top: 3px;
  margin-bottom: 3px;
}

.locationIcon {
  margin-right: 5px;
}
