.hotelPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 20px;
}
.hotelInfoContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15px;
  padding: 10px 0;
  font-size: 18px;
}
.hotelInfo {
  padding-top: 0;
}
.roomsContainer {
  margin-top: 15px;
  max-height: 770px;
  width: 100%;
}
@media (max-width: 600px) {
  .hotelInfoContainer {
    display: flex;
    flex-direction: column;
  }
}
