.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.pageContainer {
  overflow-y: auto; /* Change from hidden to auto to enable scrolling */
  max-height: 100vh;
  position: relative;
}
.filterSideBarContainer {
  width: 20%;
  border: 1px solid var(--mui-palette-secondary-dark);
  padding: 8px;
  box-shadow: 0 0 5px 1px var(--mui-palette-secondary-dark);
}
.searchContainerWithSideBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.hotelsContainerWithoutSideBar {
  margin-top: 60px;
  flex-grow: 1;
  overflow-y: auto;
  grid: 10px;
}
.hotelsContainer {
  margin-top: 5px;
  flex-grow: 1;
  overflow-y: auto;
}
.bigPageContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.sortContainer {
  text-align: right;
  width: 100%;
}
.filtersContainer {
  position: fixed;
  top: 140px !important;
  padding:2% 0 ;
  z-index: 1002;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mui-palette-secondary-main);
}
.bigPageContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.sortContainer {
  text-align: right;
  width: 100%;
}
.filtersContainer {
  position: fixed;
  top: 155px;
  z-index: 1000;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .filterSideBarContainer {
    width: 23%;
  }
}
@media (max-width: 950px) {
  .filterSideBarContainer {
    width: 26%;
  }
}
