.roomContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 3%;
  border: 1px solid var(--mui-palette-secondary-dark);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px var(--mui-palette-secondary-dark);
  cursor: pointer;
  width: 48%;
  margin: 2% 1%;
  box-sizing: border-box;
}
.roomContainerWrapper {
  display: flex;
  flex-wrap: wrap;
}
.roomImage {
  width: 35%;
  aspect-ratio: 16 / 15;
  margin-right: 4%;
  border-radius: 5px;
  object-fit: cover;
}

.roomInfoContainer {
  padding: 5px;
  flex-grow: 1;
  width: 100%;
}
.roomNumber {
  margin: 10px 0;
}
.roomType {
  margin: 3px 0;
}
.roomPrice {
  margin: 5px 0;
}
.smallButtonContainer {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

  
.addToCartButton{
  border-radius: 1px;
  background-color: var(--mui-palette-primary-main);
}
.addToCartIcon{
  color: var(--mui-palette-secondary-main);
}

@media (max-width: 900px) {
  .roomNumber , .roomType ,  .roomPrice{
    margin: 2px 0;
  }
  .roomContainer{
    width: 100%;
    margin: 3% 0;
  }

}
